<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oakland.cse523.multiplayertictactoe" >


<uses-permission android:name="android.permission.RECEIVE_SMS" />
<uses-permission android:name="android.permission.READ_SMS" />
<uses-permission android:name="android.permission.SEND_SMS" />

<application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="TicTacToe Game"
    android:theme="@style/AppTheme" >
    <activity
        android:name="edu.oakland.cse523.multiplayertictactoe.MainActivity"
        android:label="TicTacToe Game" >
    </activity>
    <activity
        android:name="edu.oakland.cse523.multiplayertictactoe.SplashScreen"
         >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="edu.oakland.cse523.multiplayertictactoe.SettingsScreen"
         >
    </activity>
    <activity
        android:name="edu.oakland.cse523.multiplayertictactoe.GameScreen"
         >
    </activity>
</application>

</manifest>
